@import "./variables";

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: $font-family;
  background-color: $background;
  color: $text-color;
}

a {
  text-decoration: none;
  color: inherit;
}
